:root {
    /* Coastal Theme */
    --background-color: #FAF3E0;
    --primary-color: #0077B6;
    --accent-color: #E76F51;
    --secondary-color: #F4A261;
    --text-color: #023047;
    /* Rustic Fisherman Theme */
    /* --background-color: #FFF8E1;
    --primary-color: #2A9D8F;
    --accent-color: #F4A261;
    --secondary-color: #8D6E63;
    --text-color: #264653; */
    /* Modern Minimalist Theme */
    /*= --background-color: #F8F9FA;
    --primary-color: #023E8A;
    --accent-color: #EF476F;
    --secondary-color: #FFD166;
    --text-color: #212529; */

  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color); /* Background color */
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 1.5em;
    color: var(--primary-color); /* Primary color */
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: var(--primary-color); /* Primary color */
    font-size: 1em;
  }
  
  .contact-button {
    background-color: var(--accent-color); /* Accent color */
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
  }
  
  .contact-button:hover {
    background-color: var(--secondary-color); /* Secondary color */
  }
  