.footer {
  background-color: var(--background-color); /* Background color */
  color: var(--text-color); /* Text color */
  padding: 20px 0;
  border-top: 1px solid var(--primary-color); /* Primary color */
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.footer-section {
  width: 100%;
  padding: 10px;
  /* text-align: center; */
}

.footer-section h2 {
  color: var(--primary-color); /* Primary color */
}

.footer-section p, .footer-section a {
  color: var(--text-color); /* Text color */
  font-size: 1em;
}

.footer-section a {
  text-decoration: none;
}

.footer-section .social-media a {
  margin: 0 10px;
  color: var(--primary-color); /* Primary color */
  font-size: 1.2em;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background-color: var(--secondary-background-color); /* Secondary background color */
}

.footer-bottom a {
  color: var(--primary-color); /* Primary color */
  text-decoration: none;
}

/* Responsive Design */
@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-around;
  }

  .footer-section {
    width: auto;
    text-align: left;
  }
}
